src/main/java/com/viglet/turing/plugins/otca/xsd/tme-af-4.10.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:c="http://dev.nstein.com/common/1.3" xmlns:tns="http://dev.nstein.com/tme-authority-file/4.10" elementFormDefault="qualified" version="1.0" targetNamespace="http://dev.nstein.com/tme-authority-file/4.10">
  <xs:import namespace="http://dev.nstein.com/common/1.3" schemaLocation="common-1.3.xsd"/>
  <xs:element name="authorityFile" type="tns:AFType"/>
  <xs:element name="authorityFiles" type="tns:AFObjectsType"/>
  <xs:element name="config" type="tns:AFConfigType"/>
  <xs:element name="names" type="tns:AFNamesType"/>
  <xs:element name="term" type="tns:AFTermType"/>
  <xs:element name="terms" type="tns:AFTermsType"/>
  <xs:complexType name="AFNamesType">
    <xs:sequence>
      <xs:element name="name" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AFObjectsType">
    <xs:sequence>
      <xs:element ref="tns:authorityFile" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AFType">
    <xs:sequence>
      <xs:element name="name" type="c:fileName"/>
      <xs:element name="description" type="xs:string" minOccurs="0"/>
      <xs:element name="attributes" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="attribute" type="tns:AFAttributeDefType" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="terms" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="tns:term" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AFAttributeDefType">
    <xs:sequence>
      <xs:element name="name" type="c:name"/>
      <xs:element name="type" type="tns:AFAttributeDefTypeEnum"/>
      <xs:element name="size" type="xs:int" minOccurs="0"/>
      <xs:element name="values" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="value" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AFTermType">
    <xs:sequence>
      <xs:element name="id" type="c:requiredNormalizedString"/>
      <xs:element name="name" type="c:name"/>
      <xs:element name="enabled" type="xs:boolean" minOccurs="0"/>
      <xs:element name="variations" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="variation" type="tns:AFTermVariationType" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="relations" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="relation" type="tns:AFTermRelationType" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="attributes" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="attribute" type="tns:AFAttributeType" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AFTermVariationType">
    <xs:sequence>
      <xs:element name="name" type="c:name"/>
      <xs:element name="weight" type="xs:double"/>
      <xs:element name="prefix" type="tns:AFTermVariationAffixType" minOccurs="0"/>
      <xs:element name="suffix" type="tns:AFTermVariationAffixType" minOccurs="0"/>
      <xs:element name="case" type="tns:AFTermVariationCaseEnum" minOccurs="0"/>
      <xs:element name="accent" type="tns:AFTermVariationAccentEnum" minOccurs="0"/>
      <xs:element name="languages" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="language" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AFTermVariationAffixType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="required" type="xs:boolean"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="AFTermRelationType">
    <xs:sequence>
      <xs:element name="id" type="c:requiredNormalizedString"/>
      <xs:element name="type" type="tns:AFTermRelationTypeEnum"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AFAttributeType">
    <xs:sequence>
      <xs:element name="name" type="c:name"/>
      <xs:element name="values">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="value" type="xs:string" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AFTermsType">
    <xs:sequence>
      <xs:element ref="tns:term" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AFConfigType">
    <xs:sequence>
      <xs:element name="path" type="xs:string"/>
      <xs:element name="cacheSize" type="xs:string"/>
      <xs:element name="commitDelay" type="xs:string" minOccurs="0"/>
      <xs:element name="poolSize" type="xs:unsignedInt" minOccurs="0"/>
      <xs:element name="relationsMaxDepth" type="xs:int" minOccurs="0"/>
      <xs:element name="batchSize" type="xs:int" minOccurs="0"/>
      <xs:element name="skipVariationValidation" type="xs:boolean" minOccurs="0"/>
      <xs:element name="searchTypes" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="searchType" type="c:SearchTypeType" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="parameters">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="parameter" type="tns:AFConfigParameterType" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="contiguityRules" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="rule" type="tns:AFConfigRuleType" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="disambiguationRules" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="rule" type="tns:AFConfigRuleType" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AFConfigParameterType">
    <xs:sequence>
      <xs:element name="name" type="tns:AFConfigParameterNameEnum"/>
      <xs:element name="language" type="xs:string" minOccurs="0"/>
      <xs:element name="authorityName" type="xs:string" minOccurs="0"/>
      <xs:element name="value" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AFConfigRuleType">
    <xs:sequence>
      <xs:element name="units">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="unit" type="tns:AFConfigRuleUnitType" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:choice>
        <xs:element name="merge" type="tns:AFConfigRuleActionMergeType"/>
        <xs:element name="delete" type="tns:AFConfigRuleActionDeleteType"/>
      </xs:choice>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AFConfigRuleUnitType">
    <xs:sequence>
      <xs:element name="authorityName" type="xs:string"/>
      <xs:element name="termName" type="xs:string" minOccurs="0"/>
      <xs:element name="minWeight" type="xs:double" minOccurs="0"/>
      <xs:element name="maxWeight" type="xs:double" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AFConfigRuleActionMergeType">
    <xs:sequence>
      <xs:element name="text" type="tns:AFConfigRuleActionMergeRangeType"/>
      <xs:element name="authorityName" type="xs:string"/>
      <xs:element name="termName" type="tns:AFConfigRuleActionMergeRangeType"/>
      <xs:element name="weight" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AFConfigRuleActionMergeRangeType">
    <xs:sequence>
      <xs:element name="beginIndex" type="xs:int"/>
      <xs:element name="endIndex" type="xs:int"/>
      <xs:element name="separators" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="separator" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AFConfigRuleActionDeleteType">
    <xs:sequence/>
  </xs:complexType>
  <xs:simpleType name="AFAttributeDefTypeEnum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="text"/>
      <xs:enumeration value="textarea"/>
      <xs:enumeration value="radio"/>
      <xs:enumeration value="checkbox"/>
      <xs:enumeration value="select"/>
      <xs:enumeration value="list"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AFTermVariationCaseEnum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="ci"/>
      <xs:enumeration value="cs"/>
      <xs:enumeration value="ucs"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AFTermVariationAccentEnum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="ai"/>
      <xs:enumeration value="as"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AFTermRelationTypeEnum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="BT"/>
      <xs:enumeration value="NT"/>
      <xs:enumeration value="RT"/>
      <xs:enumeration value="U"/>
      <xs:enumeration value="UF"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AFConfigExtractionTypeEnum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="dynamic"/>
      <xs:enumeration value="entity"/>
      <xs:enumeration value="candidate"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AFConfigUnitTypeEnum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="entity"/>
      <xs:enumeration value="candidate"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AFConfigParameterNameEnum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="affixAuthorityName"/>
      <xs:enumeration value="affixSeparatorPattern"/>
      <xs:enumeration value="affixSeparatorMaxLength"/>
      <xs:enumeration value="searchType"/>
      <xs:enumeration value="extractionType"/>
      <xs:enumeration value="importance"/>
      <xs:enumeration value="otherImportance"/>
      <xs:enumeration value="actualImportance"/>
      <xs:enumeration value="dynamicCorrectionFactor"/>
      <xs:enumeration value="simpleAddCorrectionFactor"/>
      <xs:enumeration value="powerMeanExponent"/>
      <xs:enumeration value="lowWeightAddFactor"/>
      <xs:enumeration value="highWeightAddFactor"/>
      <xs:enumeration value="lowWeightDefinitionThreshold"/>
      <xs:enumeration value="highWeightDefinitionThreshold"/>
      <xs:enumeration value="contiguitySeparatorPattern"/>
      <xs:enumeration value="contiguitySeparatorMaxLength"/>
      <xs:enumeration value="disambiguationSeparatorPattern"/>
      <xs:enumeration value="disambiguationSeparatorMaxLength"/>
      <xs:enumeration value="entityThreshold"/>
      <xs:enumeration value="candidateThreshold"/>
    </xs:restriction>
  </xs:simpleType>
</xs:schema>
